# ESP-IDF build files
build/
managed_components/
dependencies.lock

# SDK config backups
sdkconfig.old
sdkconfig

# Python virtual env
.venv/
venv/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Binary outputs
*.bin
*.elf
*.map

# CMake cache
CMakeFiles/
CMakeCache.txt

# Flash data
flasher_args.json
